<form [formGroup]="form" class="mt-2">
  <mat-list>
    <mat-list-item>
      <mat-form-field class="mr-2" >
        <mat-label>Password</mat-label>
        <input type="password"  matInput formControlName="password"/>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field >
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput  formControlName="confirmPassword"/>

      </mat-form-field>

    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="changePassword()">Change password</button>

    </mat-list-item>
    <mat-list-item >
      <mat-error *ngIf="form.errors&&form.errors['notMatch']" class="ml-2">Passwords don't match</mat-error>
    </mat-list-item>
  </mat-list>



</form>
